h1 {
  margin-bottom: 1.75em;
}

.sort-options {
  margin-bottom: 1.5em;
}

.task-item {
  padding: 0;
  margin-bottom: .66em;
  display: block;
}

.task-name {
  padding: 15px;
  border: 1px solid #ccc;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  border-radius:4px;
}

.task-name.task-name-expanded{
  border-radius: 4px 4px 0 0;
}

.task-expand {
  padding: 15px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 0 0 4px 4px;
}

.task-priority  {
  font-weight: bold;
  margin-bottom: 0;
}

.glyphicon  {
  padding-right: .66em;
  line-height: 1.25em;
}

.as-sortable-placeholder {
  margin-bottom: .66em;
  display: inline-block !important;
}
