h1 {
  margin-bottom: 1.75em;
}

.sort-options {
  margin-bottom: 1.5em;
}

.clickable {
  cursor: pointer;
  padding-left: .5em;
}


/*task list*/
.task-item {
  padding: 0;
  margin-bottom: .66em;
  display: block;
}

.task-name {
  padding: 15px;
  border: 1px solid #ccc;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  border-radius:4px;
}

.task-name.task-name-expanded{
  border-radius: 4px 4px 0 0;
}

.task-expand {
  padding: 15px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 0 0 4px 4px;
}

.task-priority  {
  font-weight: bold;
  margin-bottom: 0;
}

.glyphicon  {
  padding-right: .75em;
  line-height: 1.25em;
}

.task-completed {
  text-decoration: line-through;
}

.task-completed .task-name {
  background-color: #DDD;
  color: #666;
}


/*edit task mode*/
.task-item input, .task-item select {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.task-item select {
  margin-top: 15px;
}

.as-sortable-placeholder {
  margin-bottom: .66em;
  display: inline-block !important;
}
