<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Todo App</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
</head>
<body ng-controller="TaskController as ctrl">
  <div class="container">
    <h1>Simple Todo App</h1>
  </div>

  <div class="container">
    <div class="row">

      <!-- New task form -->
      <div class="col-md-4">
        <form name="taskForm" class="well" ng-submit="taskForm.$valid && ctrl.addTask(ctrl.newTask); ctrl.newTask = {}" novalidate>
          <fieldset>
            <legend>Add Task Item</legend>
            <div class="form-group">
              <label for="formName">Name</label>
              <input id="formName" ng-model="ctrl.newTask.title" type="text" class="form-control" placeholder="Task title" required>
            </div>
            <div class="form-group">
              <label for="formPriority">Priority</label>
              <select id="formPriority" ng-model="ctrl.newTask.priority" type="text" class="form-control"
                ng-options="index*1 as option for (index, option) in ctrl.priorityOptions track by index" required>
                <option value="">Set task priority</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formDesc">Description</label>
              <textarea id="formDesc" ng-model="ctrl.newTask.description" type="text" class="form-control"  rows="3" placeholder="Describe your task"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Task" />
          </fieldset>
        </form>
      </div>

      <div class="col-md-8">

        <!-- Sorting buttons -->
        <div class="sort-options container">
          <button ng-class="{
            'active': sortProperty==='priority',
            'btn': true,
            'btn-primary': true
          }" ng-click="ctrl.orderTasks('priority')">Sort by highest priority</button>
          <button ng-class="{
            'active': sortProperty==='-priority',
            'btn': true,
            'btn-primary': true
          }" ng-click="ctrl.orderTasks('-priority')">Sort by lowest priority</button>
          <button ng-class="{
            'active': sortProperty==='title',
            'btn': true,
            'btn-primary': true
          }" ng-click="ctrl.orderTasks('title')">Sort by title</button>
        </div>

        <!-- Task items -->
        <ul id="taskList" class="list-unstyled" data-as-sortable="ctrl.dragControlOptions" data-ng-model="ctrl.taskList">
          <li data-ng-repeat="task in ctrl.taskList" ng-class="['col-sm-12', 'task-item', {'task-completed': task.isCompleted}]" data-as-sortable-item>
            <div ng-class="['task-title', {
              'bg-danger':task.priority===0,
              'bg-warning':task.priority===1,
              'bg-success':task.priority===2,
              'task-title-expanded':task.isExpanded ||  task.isEditMode
              }]">
              <span data-as-sortable-item-handle class="glyphicon glyphicon-menu-hamburger pull-left" aria-hidden="true"></span>
              <span ng-hide="task.isEditMode" ng-click="task.isExpanded = !task.isExpanded">
                {{task.title}}
              </span>
              <input ng-show="task.isEditMode" ng-model="task.title" type="text" required>
              <!-- Complete button -->
              <span type="button" class="glyphicon glyphicon-ok clickable pull-right" ng-hide="task.isCompleted" ng-click="ctrl.completeTask(task)" aria-label="Complete"></span>
              <span type="button" class="glyphicon glyphicon-repeat clickable pull-right" ng-show="task.isCompleted" ng-click="ctrl.completeTask(task, true)" aria-label="UndoComplete"></span>
              <!-- Delete button -->
              <span type="button" class="glyphicon glyphicon-trash clickable pull-right" ng-click="ctrl.removeTask(task)" aria-label="Delete"></span>
              <!-- Edit button -->
              <span type="button" class="glyphicon glyphicon-pencil clickable pull-right"
                ng-click="task.isEditMode = true"
                ng-hide="task.isEditMode || task.isCompleted"
                aria-label="Edit"></span>
              <!-- Save button -->
              <span type="button" class="glyphicon glyphicon-floppy-disk clickable pull-right"
                ng-show="task.isEditMode && task.title.length"
                ng-click="ctrl.updateTask(task); task.isEditMode = false"
                aria-label="Save"></span>
            </div>
            <div class="task-expand" ng-show="task.isExpanded || task.isEditMode">
              <p ng-show="task.description.length && !task.isEditMode">{{task.description}}</p>
              <p class="task-priority" ng-hide="task.isEditMode">This task is a {{ctrl.priorityOptions[task.priority] | lowercase}} priority.</p>
              <!-- Edit mode -->
              <textarea ng-show="task.isEditMode" ng-model="task.description" type="text" class="form-control"  rows="2"></textarea>
              <p class="task-priority" ng-show="task.isEditMode">This task is a
                <select ng-model="task.priority" type="text"
                  ng-options="index*1 as option for (index, option) in ctrl.priorityOptions track by index">
                </select>
                priority.</p>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="js/app.js"></script>
  <script src="js/task.controller.js"></script>
  <script src="js/task.controller.spec.js"></script>
  <script src="js/task.factory.js"></script>
  <script src="js/task.factory.spec.js"></script>
  <script src="js/values.js"></script>
  <!-- endinject -->
</body>
</html>
