<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Todo App</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
</head>
<body ng-controller="TodoController as ctrl">
  <div class="container">
    <h1>Simple Todo App</h1>
  </div>

  <div class="container">
    <div class="row">

      <!-- New todo form -->
      <div class="col-md-4">
        <form name="todoForm" class="well" ng-submit="todoForm.$valid && ctrl.addTodo()" novalidate>
          <fieldset>
            <legend>Add Todo Item</legend>
            <div class="form-group">
              <label for="formName">Name</label><input id="formName" ng-model="ctrl.newTodo.name" type="text" class="form-control" placeholder="Todo name" required>
            </div>
            <div class="form-group">
              <label for="formPriority">Priority</label>
              <select id="formPriority" ng-model="ctrl.newTodo.priority" type="text" class="form-control"
                ng-options="option.name for option in ctrl.priorityOptions" required>
                <option value="">Set todo priority</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formDesc">Description</label>
              <textarea id="formDesc" ng-model="ctrl.newTodo.description" type="text" class="form-control"  rows="3" placeholder="Describe your task"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Todo" />
          </fieldset>
        </form>
      </div>

      <div class="col-md-8">

        <!-- Sorting buttons -->
        <div class="sort-options container">
          <button ng-class="{
            'active': sortProperty==='priority.order',
            'btn': true,
            'btn-primary': true
          }" ng-click="sortProperty='priority.order'">Sort by highest priority</button>
          <button ng-class="{
            'active': sortProperty==='-priority.order',
            'btn': true,
            'btn-primary': true
          }" ng-click="sortProperty='-priority.order'">Sort by lowest priority</button>
          <button ng-class="{
            'active': sortProperty==='name',
            'btn': true,
            'btn-primary': true
            }" ng-click="sortProperty='name'">Sort by name</button>
        </div>

        <!-- Todo items -->
        <div ng-repeat="todo in ctrl.todoList | orderBy:sortProperty" class="col-sm-12 todo-item">
          <p ng-class="{
            'bg-danger':todo.priority===ctrl.priorityOptions[0],
            'bg-warning':todo.priority===ctrl.priorityOptions[1],
            'bg-success':todo.priority===ctrl.priorityOptions[2],
            'todo-name-expanded':todo.isExpanded,
            'todo-name':true
          }" ng-click="todo.isExpanded = !todo.isExpanded">
            {{todo.name}}<button type="button" class="close pull-right" ng-click="ctrl.removeTodo(todo)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </p>
          <div class="todo-expand" ng-show="todo.isExpanded">
            <p ng-show="todo.description.length">{{todo.description}}</p>
            <p class="todo-priority">This task is a {{todo.priority.name | lowercase}} priority.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="js/app.js"></script>
  <!-- endinject -->
</body>
</html>
